extends temp 
block variables 
    - var title = '20th Century'
block content 
    .p3-1
        img(src="img/20th_1.jpg")
    .name3 
        h2 20th Century Studios, Inc.
    .t3-1
        p 20th Century Studios, Inc. — американская киностудия подразделения Walt Disney Studios, медиаконгломерата The Walt Disney Company.
        p Компания основана 31 мая 1935 года в результате слияния двух студий: Fox Film Corporation, основанной в 1915 году Уильямом Фоксом, и Twentieth Century Pictures, основанной в 1933 году Дэррилом Ф. Зануком, Джозефом Шенком, Рэймондом Гриффитом и Уильямом Гетцем.
        p Съёмочная площадка компании исторически занимала Century City, квартал Лос-Анджелеса к западу от Беверли-Хиллз. К настоящему времени этот квартал застроен офисными и жилыми зданиями. Штаб-квартира компании занимает 34-й этаж 35-этажного высотного здания Fox Plaza.
        p Самые популярные франшизы 20th Century Studios включают в себя: <i>«Звёздные войны»</i> (до перехода к компании Дисней), <i>«Аватар»</i>, <i>«Люди Икс»</i>, <i>«Ледниковый период»</i>, <i>«Рио»</i>, <i>«Крепкий орешек»</i>, <i>«Хищник»</i>, <i>«Чужой»</i>, <i>«Планета обезьян»</i>, <i>«Один дома»</i>, также включая самые популярные телесериалы, такие как <i>«Бэтмен»</i>, <i>«МЭШ»</i>, <i>«Секретные материалы»</i>, <i>«Копы»</i>, <i>«Футурама»</i>, <i>«Симпсоны»</i>, <i>«Гриффины»</i>, <i>«Американский папаша!»</i>, и <i>«24»</i>.
        p Среди наиболее известных актрис, вышедших из этой студии — первая кинозвезда студии 20th Century Fox Ширли Темпл, Бетти Грейбл, Джин Тирни, Мэрилин Монро и Джейн Мэнсфилд. Студия также заключила контракт с первой афроамериканской кинозвездой Дороти Дэндридж.