extends temp 
block variables 
	- var title = 'Главная'
block content 
	.gal 
		img(src="img/Universal.jpg")

	.p1-1
		a(href="20century.html")
			img(src="img/20jpg.jpg")
	.t1-1 
		h4 20th Century Studios
		p Фильмы: <i>«Звёздные войны»</i>, <i>«Аватар»</i>, <i>«Люди Икс»</i>, <i>«Ледниковый период»</i> и др.

	.p1-2
		a(href="#")
			img(src="img/Paramount_Pictures.jpg")
	.t1-2
		h4 Paramount Pictures
		p Фильмы: <i>«Форест Гамп»</i>, <i>«Миссия невыполнима»</i>, <i>«Крестный отец»</i> и др.

	.p1-3
		a(href="#")
			img(src="img/Columbia_Pictures.jpg")
	.t1-3 
		h4 Columbia Pictures
		p Фильмы: <i>«Побег из Шоушенка»</i>, <i>«Пятый элемент»</i>, <i>«Люди в черном»</i> и др.

	.p1-4
		a(href="#")
			img(src="img/disney1.jpg")
	.t1-4 
		h4 20th Walt Disney
		p Фильмы: <i>«Король лев»</i>, <i>«Душа»</i>, <i>«Пираты карибского моря»</i>, <i>«Алладин»</i> и др.


