@media all and (max-width: 600px)
    .container
        background-color black
        min-width 300px
        grid-template-rows auto
        grid-template-columns repeat(6, 1fr)
        
        .name
            background-color white
            style-grid-big(1, 6, 1, 1)
        .menu1
            style-grid-big(2, 1, 2, 1)
            a
                color LightGrey
            &:hover
                a
                    color #D5C3E4
        .menu2
            style-grid-big(3, 1, 2, 1)
            a
                color LightGrey
            &:hover
                a
                    color #D5C3E4
        .menu3
            style-grid-big(4, 1, 2, 1)
            a
                color LightGrey
            &:hover
                a
                    color #D5C3E4
        .menu4
            style-grid-big(5, 1, 2, 1)
            a
                color LightGrey
            &:hover
                a
                    color #D5C3E4
        .curr
            a
                color #D5C3E4
            
        .gal
            //margin 0px 0px 10px 0px
            border-bottom solid LightGrey 20px
            style-grid-big(1, 6, 3, 1)
        .p1-1
            //margin 0px 5px 0px 10px
            border-left solid LightGrey 20px
            border-right solid LightGrey 20px
            style-grid-big(1, 6, 4, 1)
        .p1-2
            //margin 0px 5px 0px 5px
            border-left solid LightGrey 20px
            border-right solid LightGrey 20px
            style-grid-big(1, 6, 6, 1)
        .p1-3
            //margin 0px 5px 0px 5px
            border-left solid LightGrey 20px
            border-right solid LightGrey 20px
            style-grid-big(1, 6, 8, 1)
        .p1-4
            //margin 0px 10px 0px 5px
            border-left solid LightGrey 20px
            border-right solid LightGrey 20px
            style-grid-big(1, 6, 10, 1)
        .t1-1
            padding 20px
            //margin 0px 5px 0px 10px
            border-left solid LightGrey 20px
            border-right solid LightGrey 20px
            border-bottom solid LightGrey 20px
            background-color white
            style-grid-big(1, 6, 5, 1)
        .t1-2
            padding 20px
            //margin 0px 5px 0px 5px
            border-left solid LightGrey 20px
            border-right solid LightGrey 20px
            border-bottom solid LightGrey 20px
            background-color white
            style-grid-big(1, 6, 7, 1)
        .t1-3
            padding 20px
            //margin 0px 5px 0px 5px
            border-left solid LightGrey 20px
            border-right solid LightGrey 20px
            border-bottom solid LightGrey 20px
            background-color white
            style-grid-big(1, 6, 9, 1)
        .t1-4
            padding 20px
            //margin 0px 10px 0px 5px
            border-left solid LightGrey 20px
            border-right solid LightGrey 20px
            border-bottom solid LightGrey 20px
            background-color white
            style-grid-big(1, 6, 11, 1)
        
        .t2-1
            padding 20px 20px 10px 20px
            text-align center
            style-grid-big(1, 6, 3, 1)
        .t2-2
            padding 10px 20px
            text-align center
            style-grid-big(1, 6, 4, 1)
        .t2-3
            padding 10px 20px
            text-align center
            style-grid-big(1, 6, 5, 1)
        .table
            padding 10px 20px
            text-align center
            style-grid-big(1, 6, 6, 1)
            tr
                font-size 10px
        
        .name3
            style-grid-big(1, 6, 3, 1)
            padding 0 20px
        .p3-1
            style-grid-big(1, 6, 4, 1)
            padding 0 20px
        .t3-1
            style-grid-big(1, 6, 5, 1)
            padding 0 20px